body{
background-size: 1290px;


}


.widgets {

background-color: #FAC7F1;
color: #FFF;
margin-bottom: 12px; 

}


.widgets > div {
background-color: #BD0DCD;
color: #fff;
margin-bottom: 12px;


}

footer {
	padding: 0px 80px;
	background: #282727;
	text-align: center; 
	color: #fff;
	font-size: smaller;
}



